* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(0deg, rgb(110, 236, 238) 0%, rgb(253, 213, 127) 100%);
}

.container {
    display: flex;
    flex-direction: column;
}

.container .searchContainer {
    display: flex;
    justify-content: center;
    padding: 24px 0;
}

.container .searchContainer input[type=text] {
    padding: 10px 16px;
    font-size: 1.2em;
    outline: none;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
}

.container .searchContainer .search-btn {
    margin-left: 4px;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 4px;
}

.container .searchContainer .search-btn:hover {
    background-color: rgb(228, 228, 228);
    cursor: pointer;
}

.container .resultContainer {
    display: flex;
    justify-content: center;
}

#result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 850px;
}

.weatherCard {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border: 1px solid rgb(228, 228, 228);
    box-shadow: 0px 1px 4px 2px rgb(228, 228, 228);
    border-radius: 3px;
    background-color: white;
    padding: 5px;
    margin: 5px;
}

.weatherCard .title {
    font-weight: 700;
    text-align: center;
    font-size: 1.6em;
}

.weatherCard .weatherInfo {
    display: flex;
    flex-direction: column;
}

.weatherCard .weatherInfo img {
    height: 100px;
    object-fit: contain;
}

.weatherCard .weatherInfo span {
    text-align: center;
}