.btn {
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    transition: background-color 0.2s ease;
    margin-right: 3px;

    &:hover {
        cursor: pointer;
        background: rgba(255, 255, 255, 0.1);
    }
}