@import "./create-note.scss";
@import "./notes-container.scss";
@import "./buttons.scss";

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

input, button, select, textarea, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

.root {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.sidebar {
    // min-width: 300px;
    // width: 300px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .content {
        display: flex;
        flex-direction: column;
    }
}

.container-notes-header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
}
