.notes-container {
    display: flex;
    justify-content: row;
    flex-wrap: wrap;

    .note-container {
        background-color: white;
        box-shadow: 0px 1px 4px 2px #dbdbdb;
        width: 300px;
        margin: 10px;
        border-radius: 4px;
        padding: 12px 12px 6px 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .header {
            padding: 4px 0;

            span {
                font-size: 1.2rem;
                font-weight: 900;
            }
        }

        .content {
            span {
                font-size: 1.1rem;
            }
        }

        .footer {
            display: flex;
            justify-content: flex-end;
            margin-top: 4px;
            padding: 2px 0;
        }
    }
}